:root {
  --primary: #455a64;
  --primary-light: #718792;
  --primary-dark: #1c313a;
  --color-dark: #333;
  --color-light: white;
  --secondary: #388e3c;
  --secondary-light: #6abf69;
  --secondary-dark: #00600f;
}

.separator {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--color-light);
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

html,
body,
.container {
  height: 100%;
}

.container {
  display: block;
}

.left,
.rigth {
  display: block;
  height: 100%;
  max-height: 100%;
  overflow: scroll;
}

.left {
  width: 20%;
  float: left;
  overflow-x: hidden;
  background-color: var(--primary-dark);
  color: var(--color-light);
}

.right {
  width: 80%;
  float: right;
  height: 100%;
}

.right .top,
.right .middle,
.right .bottom {
  display: block;
}

.right .top {
  height: 100px;
  background-color: var(--primary-dark);
  color: var(--color-light);
  padding-left: 10px;
}
.right .top h1 {
  margin: 0 0 0 20px;
  line-height: 100px;
}

.right .bottom {
  position: absolute;
  bottom: 0;
  height: 50px;
  line-height: 50px;
  background-color: var(--primary);
  color: var(--color-light);
  width: 80%;
  padding-left: 30px;
}

.globalDataToggleBtnContainer {
  text-align: center;
}

#globalDataToggleBtn {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  border-color: black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#globalDataToggleBtn:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 30px;
}

.countries_container h2 {
  margin-left: 20px;
  margin-bottom: 5px;
}

.countries_container .sort_info {
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 12px;
}

a:link {
  color: #039be5;
}
a:visited {
  color: #039be5;
}
a:hover {
  color: #039be5;
}
a:active {
  color: #039be5;
}